:root {
  --highlight: hsl(160, 25%, 90%);
  --light: hsl(160, 25%, 70%);
  --midtone: hsl(160, 25%, 50%);
  --dark: hsl(160, 25%, 30%);
  --shadow: hsl(160, 25%, 10%);
}
body {
  background-color: var(--light);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#app {
  display: flex;
  align-items: center;
  min-height: 90vh;
  gap: 5rem;
  width: 70%;
  margin: 0 auto;
}
