body {
  background-color: hsl(160, 30%, 60%);
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings {
  display: flex;
  flex-direction: column;
  width: clamp(15rem, 40vw, 20rem);
  margin-top: 2rem;
  gap: 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  background: hsl(160, 30%, 90%);
  outline: none;
  border-radius: 1rem;
}

#waveform-picker {
  width: 100%;
  height: 100%;
  background: hsl(160, 30%, 90%);
  border-radius: 1rem;
}
.keyboard {
  display: flex;
  gap: 1rem;
}
.octave {
  display: flex;
}
.active {
  background: hsl(160, 30%, 95%);
}
